@charset "utf-8";


/* =================================
*   common(공통) css
*   2022-06-29 작성
*   375px 기준
================================== */


/* 이미지 선명도 이슈 보완을 위하여 넣음  */
img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  transform: translateZ(0);
}



/* =======================================================
	Text
========================================================*/
.text-guide {font-size: 12px; color: #888; }

.title-area {position: relative; }
.title-area:after {content: ""; clear: both; display: block; height: 0; visibility: hidden; }

.title {display: block; font-size: 15px; color: #222; }


/* text-ellipsis */
.text-ellipsis01 {display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.text-ellipsis02 {display: block; overflow: hidden; text-overflow: ellipsis; white-space: normal; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 1.5; height: 3em; }
.text-ellipsis03 {display: block; overflow: hidden; text-overflow: ellipsis; white-space: normal; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; line-height: 1.5; height: 4.5em; }


/* =======================================================
	Table
========================================================*/
table {width: 100%; padding: 0; margin: 0; border-collapse: collapse; border-spacing: 0; table-layout: fixed; word-break: break-all; background-image: none; }
table th,
table td {padding: 10px 10px; font-size: 13px; }

.table-line table {}
.table-line table th ,
.table-line table td {border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.table-line table tr:first-child th,
.table-line table tr:first-child td {border-top: 1px solid #ddd; }
.table-line table th:first-child,
.table-line table td:first-child {border-left: 1px solid #ddd; }
.table-line table th {font-size: 13px; font-weight: 500; }
.table-line table td {text-align: left; }


/* =======================================================
	버튼
========================================================*/
.btn {height: 45px; padding: 0 15px; border: 1px solid #bbb; background-color: #fff; font-size: 14px; font-weight: 400; line-height: 43px; color: #222; }

.btn-more {padding-right: 12px; background-image: url("../images/common/btn_more.svg"); background-repeat: no-repeat; background-position: right top 5px; background-size: auto 8px; font-size: 13px; color: #888; font-weight: 400; }

.btn-text {display: inline-block; text-align:  center; font-size: 12px; color: #aaa; text-decoration: underline; }


.btn-group {}
.btn-group:after {content: ""; clear: both; display: block; height: 0; visibility: hidden; }


/* 버튼 사이즈 */
.btn-full {display: block; width: 100% !important;}
.btn-half {width: 50%; }
.btn-small {padding: 0 5px; height: 28px; line-height: 26px; font-size: 12px;}





/* =======================================================
	Tab
========================================================*/
.tab {display: -webkit-box; display: -ms-flexbox; display: flex; }
.tab a {position: relative; width: 100%; padding: 15px 15px; box-sizing: border-box; font-size: 15px; font-weight: 500; color: #888; text-align: center; }
.tab a.active {color: #222; }
.tab a.active:after {content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background-color: #222; }





